src/main/mule/t1_mock_data.xml
<!-- [STUDIO:"Choice"]<?xml version="1.0" encoding="UTF-8"?> [STUDIO] -->

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="t1_mock_data-main-flow" doc:id="973e37bc-e574-492d-8a5f-d21c5859b274" >
		<http:listener doc:name="Listener" doc:id="aad6e089-3792-4cc7-86d4-ffaba6ba1577" config-ref="HTTP_Listener_config" path="/contacts">
			<http:response statusCode="#[200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value="T1_MOCK_DATA (3).txt" doc:name="Set Variable" doc:id="4d9c3a9e-d167-45a8-9940-48f070537597" variableName="fileName"/>
		<flow-ref doc:name="file-read-operation-flow" doc:id="3432565d-b562-48a1-9796-a5cc316fa2c8" name="file-read-operation-flow"/>
		<ee:transform doc:name="Convert payload to Comma Seperated CSV" doc:id="58fc96c0-bbdb-47e3-a46e-daa12ef8a7b9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
input payload application/csv separator="\t"
output application/csv separator="," 
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<scatter-gather doc:name="Scatter-Gather" doc:id="d9382956-accb-4d61-be2a-5caff74c274d" >
			<route >
				<flow-ref doc:name="internal-records-handling-flow" doc:id="33fab818-ea60-4321-aaa8-1e079621d835" name="internal-records-handling-flow"/>
			</route>
			<route >
				<flow-ref doc:name="RFI-and-Oracle-records-handling-flow" doc:id="9bf3ecf8-7941-4362-9619-73a1cf3c521a" name="RFI-and-Oracle-records-handling-flow"/>
			</route>
			<route >
				<flow-ref doc:name="salesforce-records-handling-flow" doc:id="fb887623-cee8-48c6-8df3-4eb28f0883b8" name="salesforce-records-handling-flow"/>
			</route>
		</scatter-gather>
		
		
		
		<ee:transform doc:name="Transform Message" doc:id="abb2aa70-2318-4354-b2f9-1c2525cfc74b" >
			<ee:message >
				<ee:set-payload resource="dwl/response.dwl" />
			</ee:message>
		</ee:transform>
		<error-handler ref="gobal-error-handler" />
	</flow>
	<flow name="internal-records-handling-flow" doc:id="218fd030-41b1-41d4-91c0-b4220c5497a2" >
<!-- 	<async doc:name="Async Internal Records" doc:id="3b2c77a4-5ff9-42bb-8213-85e38a00f3e9" > -->
			<ee:transform doc:name="Filter Internal records" doc:id="71c7871e-158a-4404-81f7-63a6cf4511bf">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0 
output application/csv separator=','
--- 
payload filter ($.'external_system' == 'internal')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<choice doc:name="Choice" doc:id="c75b32a8-3091-4c9a-a437-bd4532633c56" >
				<when expression="#[!isEmpty(payload)]">
					<raise-error doc:name="Raise error" doc:id="f38e70a9-ed25-4b74-8b60-e057fc4d23d2" type="DATA:INTERNAL_RECORDS" />
				
</when>
				<otherwise >
					<logger level="INFO" doc:name="No Records Logger" doc:id="7a018060-9561-419a-ba75-535457520f97" message="No Internal Records"/>
				</otherwise>
			
</choice>
<!-- 		</async> -->
		<error-handler ref="gobal-error-handler" />
	</flow>
	<sub-flow name="RFI-and-Oracle-records-handling-flow" doc:id="da15d6e0-0b33-42d5-bf16-3cf27f79f142" >
<!-- 	<async doc:name="Async RFI and Oracle Records" doc:id="8171f181-10dc-490b-95fc-ce37d68b531d" > -->
			<ee:transform doc:name="Filter RFI and Oracle Records" doc:id="fac9a610-aaef-4cb4-bd05-fa55ae7449b4">
					<ee:message>
					<ee:set-payload resource="dwl/rfiAndOracleMapping.dwl" />
					
</ee:message>
				<ee:variables >
					<ee:set-variable variableName="fileName" ><![CDATA[Mule::p('file.outputPath') ++ "RFI_DATA_" ++ (now() as String{ format : "dd-MM-YYYY hh-mm-ss"}) ++ ".csv"]]></ee:set-variable>
				</ee:variables>
				</ee:transform>
			<choice doc:name="Choice" doc:id="72f88df0-8b36-4979-abe7-41e91cfe336e" >
				<when expression="#[!isEmpty(payload)]">
					<flow-ref doc:name="file-write-operation-flow" doc:id="e9836e7f-b037-4c59-b548-31449b6f4e7d" name="file-write-operation-flow" />
				</when>
				<otherwise >
					<logger level="INFO" doc:name="No Records Logger" doc:id="360ceb77-42b1-43aa-be16-d0a5c31d3e56" message="No RFI or Oracle Records to be inserted into File"/>
				</otherwise>
			
</choice>
<!-- 		</async> -->
		<set-payload value="#[output application/json&#10;---&#10;{&#10;	totalSuccess : sizeOf(payload)&#10;}]" doc:name="Set Payload" doc:id="1a082c05-1ddb-4580-9185-5e4352a5b1c5" />
	
</sub-flow>
	<sub-flow name="salesforce-records-handling-flow" doc:id="2283f43f-6c1f-4b99-93d4-4edc992191a1" >
<!-- 	<async doc:name="Async Salesforce Records" doc:id="440ccf8a-98ff-4f6c-83be-c086bc1c526d" > -->
			<ee:transform doc:name="Filter Salesforce Records" doc:id="309a0971-c5db-42c9-a72f-943bdb02855f">
					<ee:message>
					<ee:set-payload resource="dwl/salesforceMapping.dwl" />
					
</ee:message>
				</ee:transform>
			<choice doc:name="Choice" doc:id="3d7aaac3-cd3f-44ac-b143-626cfde348e7" >
				<when expression="#[!isEmpty(payload)]">
					<flow-ref doc:name="salesforce-bulk-insert-flow" doc:id="63437df7-5100-4e28-a6da-d84389f47fb0" name="salesforce-bulk-insert-flow" />
					<set-variable value="#[payload.id]" doc:name="Set Variable" doc:id="f9d07116-7a68-4cdc-9666-afb0a197118c" variableName="id"/>
					<flow-ref doc:name="salesforce-retrieve-job-succesful-records" doc:id="bf14f699-20b2-46a6-ba48-d16f21691af8" name="salesforce-retrieve-job-succesful-records"/>
					<logger level="INFO" doc:name="Print Success Records" doc:id="9004db6c-dc79-4e29-925f-9a0f20943ccd" message="#[output application/json
---
vars.successRecords]"/>
					<flow-ref doc:name="salesforce-retrieve-job-failed-records" doc:id="0039ae5a-c356-4d3f-bc06-35a8bb444348" name="salesforce-retrieve-job-failed-records"/>
					<logger level="INFO" doc:name="Print failed Records" doc:id="42dc55be-5080-49bb-88a9-dc315a937c31" message="#[output application/json
---
vars.failedRecords]"/>
				</when>
				<otherwise >
					<logger level="INFO" doc:name="No Records Logger" doc:id="b6591436-d4d1-40d0-9d55-2d46bbf421d9" message="No Records to be inserted to Salesforce"/>
				</otherwise>
			
</choice>
			<ee:transform doc:name="Summary" doc:id="2085389d-2b22-47a0-84bb-f40087ca251d" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	totalSuccess : sizeOf(vars.successRecords),
	totalFailed : sizeOf(vars.failedRecords)
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		
<!-- </async> -->
	</sub-flow>
</mule>
